<% page_title = "このサイトについて" %>
<h2><%= @page_title %></h2>



  
  Q.How many hours?ってどんなサイト？<br><br>
  A.このサイトは高校生が大学受験に向けて勉強時間を記録できるサイトです。<br><br><br>
  Q.何ができるの？<br><br>
  A.勉強時間を記録して、週単位で合算され、それがランキング形式で現れます。<br>また、文系、理系、国公立志望、私立志望も登録できます。上位に入ったらお知らせもあります。<br><br><br>
 
  <% unless current_user %>

  <%= link_to "新規登録はこちらから", :new_user %>

<% end %>



