<% @page_title = "このサイトについて" %>
<h3><%= @page_title %></h3>



  
  Q.How many hours?ってどんなサイト？<br><br>
  A.このサイトは高校生が大学受験に向けて勉強時間を記録できるサイトです。<br><br><br>
  Q.何ができるの？<br><br>
  A.勉強時間を記録して、週単位で合算され、それがランキング形式で現れます。<br>
  一ヶ月前までの勉強時間の合算、今までの勉強時間の合算も表示されます。<br>

  また、文系、理系、国公立志望、私立志望も登録できます。<br><br><br>
 
  <% unless current_user %>

  <%= link_to "新規登録はこちらから", :new_user %>

<% end %>



