
<table class="attr", border="5" rules="rows">
  <tr>
    <th width="150">名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>日付</th>
    <td><%= hour.post_date %></td>
  </tr>
  <tr>
    <th>勉強内容</th>
    <td><%= hour.done %></td>
  </tr>
  <tr>
    <th>勉強時間</th>
    <td><%= hour.hours %></td>
  </tr>

</table>